.Top_Panel {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.splitters {
    position: absolute;
    width: 140px;
    left: 180px;
    height: 100px;
}
.Title {
    position: relative;
    width: 500px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
}
.Bottom_Panel {
    position: relative;
    width: 700px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
}
.Bubbles_Left {
    position: absolute;
    width: 550px;
    height: 95vh;
    top: 10px;
}
.Bubbles_Right {
    position: absolute;
    width: 550px;
    height: 95vh;
    top: 10px;
    left: 70vw
}
#Top_AboutMe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    font-size: 25px;
    font-family: 'myriad-pro-semiextended', sans-serif;
    cursor: pointer;
    z-index: 3;
}
#Top_Home {
    position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-45%, -50%);
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    font-size: 25px;
    font-family: 'myriad-pro-semiextended', sans-serif;
    cursor: pointer;
}
#Top_Contact {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-56%, -50%);
    background-color: black;
    border: none;
    color: white;
    padding: 0px 0px;
    font-size: 25px;
    font-family: 'myriad-pro-semiextended', sans-serif;
    cursor: pointer;
}
#u1 {
    position: absolute;
    color: white;  
    top: -35px;
    left: -14%;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}
#u2 {
    position: absolute;
    color: white;
    top: -35px;
    left: 93%;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
}
#HiIm {
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#HiIm_p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vw;
}
#Name {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    width: 130%;
    transform: translate(-50%, -50%);
}
#Name_p {
    background: linear-gradient(90deg,#29ABE2, #FF00FF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Ubuntu', sans-serif;
    font-size: 8vh;
}
#WhatiDo {
    position: absolute;    
    text-align: center;
    top: 200%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -50%);
}
#WhatiDo_p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 5vh;
}
#Passion {
    position: absolute;
    text-align: center;
    top: 283%;
    left: 50%;
    width: 250%;
    transform: translate(-50%, -50%);
}
#Passion_p {
    color: #B4B4B4;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    font-size: 2.7vh;
}
#Bottom_AboutMe {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(90deg,#29ABE2, #003cff);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 75px;
    margin: 2% 0%;
    float: left;
    cursor: pointer;
}
#Bottom_Contact {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-image: linear-gradient(90deg,#f606fc, #451cfd);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 75px;
    margin: 2% 0%;
    float: right;
    cursor: pointer;
}
#Bubble_Left_1 {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 80%;
    background: radial-gradient(#29ABE2, #6d74eb);
    display: inline-block;
    border-radius: 50%;
}

#Top_Home:hover {
    background: linear-gradient(90deg,#29ABE2, #6d74eb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Top_AboutMe:hover {
    background: linear-gradient(90deg,#7f66ee, #aa44f4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Top_Contact:hover {
    background: linear-gradient(90deg,#b43cf5, #f606fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Bottom_AboutMe:hover, #Bottom_Contact:hover {color: black}

div {border: 1px solid green}